SERVER_PORT=
DB_URL=
USERNAME_DB=
PASSWORD_DB=
MAIL_HOST=
MAIL_PORT=
BREVO_SMTP_LOGIN=
BREVO_SMTP_KEY=
MAIL_FROM=
MAIL_FROM_NAME=
PUBLIC_ENDPOINTS=
JWT_SIGNER_KEY=
JWT_ISSUER=
JWT_VALID_DURATION=
JWT_REFRESHABLE_DURATION=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SEED_ENABLED=
SEED_ADMIN_USERNAME=
SEED_ADMIN_PASSWORD=
SEED_ADMIN_EMAIL=
DDL_AUTO=
SHOW_SQL=